# Practice working with 3 APIs

From : https://github.com/public-apis/public-apis

In [1]:
import pandas as pd
import requests
import getpass

## Horoscope

https://aztro.sameerkumar.website/

In [2]:
params = (
('sign', 'cancer'),
('day', 'today'),
)

res = requests.post('https://aztro.sameerkumar.website/', params=params)

astro = pd.json_normalize(res.json())
astro

,date_range,current_date,description,compatibility,mood,color,lucky_number,lucky_time
0,Jun 22 - Jul 22,"November 23, 2021",There's not one single emotion you'll experien...,Scorpio,Serious,Shadow Black,53,4pm

In [3]:
astro['description'][0]

"There's not one single emotion you'll experience as anything less than all-consuming. Keep that in mind when deciding whether or not to open that ancient can of worms."

In [4]:
# I don't believe in astrology anyway...hahaha... #ItsHardToBeCancer

# Satellite floating above

https://satellites.fly.dev/

In [5]:
# But first : using OpenCage to get lattitude and longitude

In [6]:
key = getpass.getpass()

········

In [7]:
from opencage.geocoder import OpenCageGeocode
geocoder = OpenCageGeocode(key)


def sat_above(city) :
    city = geocoder.geocode(city)
    lat = city[0]['geometry']['lat']
    lng = city[0]['geometry']['lng']
    res = requests.get('https://satellites.fly.dev/passes/25544?lat={}&lon={}&limit=100&days=5&visible_only=true'.format(lat, lng))
    sat = pd.json_normalize(res.json())
    return sat

In [8]:
sat_above('Amsterdam')

,visible,rise.alt,rise.az,rise.az_octant,rise.utc_datetime,rise.utc_timestamp,rise.is_sunlit,rise.visible,culmination.alt,culmination.az,...,culmination.utc_timestamp,culmination.is_sunlit,culmination.visible,set.alt,set.az,set.az_octant,set.utc_datetime,set.utc_timestamp,set.is_sunlit,set.visible
0,True,10.02,222.56,SW,2021-11-23 17:34:01.440212+00:00,1637688841,True,True,36.16,154.62,...,1637689030,True,True,10.00,86.53,E,2021-11-23 17:40:20.678509+00:00,1637689220,False,False
1,True,10.10,209.64,SW,2021-11-24 16:47:18.015386+00:00,1637772438,True,True,27.30,149.94,...,1637772613,True,True,9.99,90.05,E,2021-11-24 16:53:10.410336+00:00,1637772790,False,False
2,True,10.01,244.36,SW,2021-11-25 17:36:21.812535+00:00,1637861781,True,True,59.53,164.46,...,1637861983,True,True,9.99,84.47,E,2021-11-25 17:43:05.437342+00:00,1637862185,False,False
3,True,10.02,234.61,SW,2021-11-26 16:49:25.430225+00:00,1637945365,True,True,47.82,159.62,...,1637945562,True,True,9.99,84.64,E,2021-11-26 16:56:01.074709+00:00,1637945761,False,False
4,True,10.02,260.50,W,2021-11-27 17:38:58.984042+00:00,1638034738,True,True,78.12,174.64,...,1638034943,True,True,9.99,88.60,E,2021-11-27 17:45:48.126461+00:00,1638035148,False,False

In [9]:
# if you look up at 16:47 you can see a satellite !

# Studio Ghibli films

https://ghibliapi.herokuapp.com/

In [10]:
res = requests.get('https://ghibliapi.herokuapp.com/species?name=God')
god = pd.json_normalize(res.json())
god

,id,name,classification,eye_colors,hair_colors,url,people,films
0,f25fa661-3073-414d-968a-ab062e3065f7,God,God,Brown,White,https://ghibliapi.herokuapp.com/species/f25fa6...,[https://ghibliapi.herokuapp.com/people/e9356b...,[https://ghibliapi.herokuapp.com/films/0440483...

In [11]:
god['films'][0]

['https://ghibliapi.herokuapp.com/films/0440483e-ca0e-4120-8c50-4c8cd9b965d6']

In [12]:
res = requests.get('https://ghibliapi.herokuapp.com/films/0440483e-ca0e-4120-8c50-4c8cd9b965d6')
film = pd.json_normalize(res.json())
film

,id,title,original_title,original_title_romanised,image,movie_banner,description,director,producer,release_date,running_time,rt_score,people,species,locations,vehicles,url
0,0440483e-ca0e-4120-8c50-4c8cd9b965d6,Princess Mononoke,もののけ姫,Mononoke hime,https://image.tmdb.org/t/p/w600_and_h900_bestv...,https://image.tmdb.org/t/p/original/6pTqSq0zYI...,"Ashitaka, a prince of the disappearing Ainu tr...",Hayao Miyazaki,Toshio Suzuki,1997,134,92,[https://ghibliapi.herokuapp.com/people/ba9246...,[https://ghibliapi.herokuapp.com/species/af391...,[https://ghibliapi.herokuapp.com/locations/],[https://ghibliapi.herokuapp.com/vehicles/],https://ghibliapi.herokuapp.com/films/0440483e...

In [13]:
# I didn't know God had a cameo in Princess Mononoke